  .header {
    background-color: #21999D; /* Your header background color */
    color: white; /* Text color */
    width: 1000px; /* Ensure it spans the entire width */
  }
  
  .header-content {
    max-width: 1200px; /* Adjust the maximum width of the content */
    margin: 0 auto; /* Center the content horizontally */
    padding: 60px; /* Add padding as needed */
    display: flex;
  }
  
  
  
  