<p>
  <mat-toolbar>
    <button class="mdc-button mdc-button--outlined mdc-button--icon-leading">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Super admin</span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">expand_more</i>
    </button>
    <span></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="mat-icon-button" aria-label="">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="mat-icon-button" aria-label="">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</p>