<div class="req-body">
<div class="body-head">
  <h3>Requests</h3>
</div>
<div class="requests-wrapper">

    <mat-tab-group dynamicHeight animationDuration="0ms">
        <mat-tab label="Requests">
          <table class="table">
            <thead>
                <th>No.</th>
                <th>EIT ID</th>
                <th>Type</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
            <tbody>
                @for (leave of leaves; track leave.id) {
                    <tr>
                        <td>{{leave?.id}}</td>
                        <td>{{leave?.EIT_id}}</td>
                        <td>{{leave?.type}}</td>
                        <td>{{leave?.date}}</td>
                        @if (leave?.status=='Accepted') {
                          <td><button class="btn btn-outline-success">{{leave?.status}}</button></td>
                        }
                        @if(leave?.status=="Declined"){
                          <td><button class="btn btn-outline-danger">{{leave?.status}}</button></td>
                        }
                        @if(leave?.status=="Pending"){
                          <td><button class="btn btn-outline-warning">{{leave?.status}}</button></td>
                        }
                        <td>
                            <a class="btn btn-link" [routerLink]="['/leave', leave.id]">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Total Requests">
          <h2>For Roch's Team</h2>
        </mat-tab>
    </mat-tab-group>

</div>
</div>