
div.body-head > button.xhead {
    background-color: #21999d;
    opacity: .6;
}

div.body-head > div > button.mdc-fab.mat-mdc-fab.mat-accent.mat-mdc-button-base.mdc-fab--extended.mat-mdc-extended-fab {
    background-color: white;
    color: black;
}

div.body-head > div > button.mdc-fab.mat-mdc-fab.mat-unthemed.mat-mdc-button-base.mdc-fab--extended.mat-mdc-extended-fab {
    background-color: #21999d;
}

/* Tab Styling */

div.requests-wrapper > mat-tab-group > mat-tab-header > div > div > div {
    background-color: white;
}


/* Cards and Tables */

mat-card, mat-card-content, mat-card table {
    background-color: white;
}

/* Button Status Colors */

button.Accepted {
    background-color:  rgb(96, 184, 96);;
}

button.Pending {
    background-color: #b39afd;
}



button.Sick{
    border-color: green;
    background-color: white;
    color: green;
    border: 1px solid;
}


button.Property {
    border-color: blue;
    background-color: white;
    color: blue;
}


div.req-body {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    align-self: flex-start;
}

div.body-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.requests-wrapper {
    width: 70vw;
}

table td, th {
    color: black;
    text-align: center;
}

td.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

